[Desktop Entry]
Version=1.0
Type=Application
Name=KISS Simulator
Comment=KIPR Robotics IDE for Linux
Exec=/opt/kiss-script/ks2/deploy/ks2
Icon=/opt/kiss-script/KIPR.png
Terminal=false
X-MultipleArgs=false
Categories=Development;IDE;GTK;Qt;
StartupNotify=true
MimeType=application/x-KISS_IDE;application/x-KISS_IDE-workspace;
